SQLAlchemy
alembic
PyQt5
PyInstaller
html5lib
cssselect
arrow
rarfile
Babel
pypiwin32
pywinutils
Markdown
Werkzeug

lxml
pylzma

#Install all required modules:
# python -m pip install sqlalchemy alembic pyqt5 pyinstaller html5lib cssselect arrow rarfile babel pypiwin32 pywinutils markdown werkzeug lxml pylzma